<div data-ng-if="numPages">


    <!-- pagination items -->
    <ul class="pagination-items">

        <li data-ng-class="{'hide' : currentPage === 1}"><a data-ng-click="selectPage(currentPage - 1)" class="prev-icon icon">&nbsp;</a></li>
        <li data-ng-repeat="page in pages" data-ng-class="{active: page==currentPage}"><a
                data-ng-click="selectPage(page)">{{page}}</a>
        </li>
        <li data-ng-class="{'hide' : currentPage === numPages}"><a data-ng-click="selectPage(currentPage + 1)" class="next-icon icon">&nbsp;</a>
        </li>

    </ul>

    <!-- expand-collapsed-->
    <div class="expand-collapsed">
        <a class="expand-all-link" href="javascript:;" data-ng-click="$root.expandAll()">Expand All</a>
        <span class="expand-all-text hidden">Expand All</span>
        <span>|</span>
        <a class="collapse-all-link" href="javascript:;" data-ng-click="$root.collapsedAll()">Collapse All</a>
        <span class="collapse-all-text hidden">Collapse All</span>
    </div>

    <!-- goto -->
    <a href="javascript:;" class="go-to" data-ng-click="selectPage(inputPage)">Go to page</a>

    <!-- number of pages -->
    <span class="text">of {{numPages}} page<span data-ng-if="numPages > 1">s</span></span>

    <div class="page-select" data-page-select=""></div>

    <span class="text">Page</span>
</div>