<div data-ng-if="numPages">


    <!-- pagination items -->
    <ul class="pagination-items">

        <li data-ng-class="{'hide' : currentPage === 1}"><a data-ng-click="selectPage(currentPage - 1)" class="prev-icon icon">&nbsp;</a></li>
        <li data-ng-repeat="page in pages" data-ng-class="{active: page==currentPage}"><a
                data-ng-click="selectPage(page)">{{page}}</a>
        </li>
        <li data-ng-class="{'hide' : currentPage === numPages}"><a data-ng-click="selectPage(currentPage + 1)" class="next-icon icon">&nbsp;</a>
        </li>

    </ul>

    <!-- goto -->
    <a href="javascript:;" class="go-to" data-ng-click="selectPage(inputPage)">Go to page</a>

    <!-- number of pages -->

    <span class="text">of {{numPages}} page<span data-ng-if="numPages > 1">s</span></span>

    <div class="page-select" data-page-select=""></div>

    <span class="text">Page</span>
    <span class="count" data-ng-if="stItemsByPage === 99">Displaying {{1}} - {{totalItemCount}} of {{totalItemCount}} record<span data-ng-if="totalItemCount > 1">s</span></span>
    <span class="count" data-ng-if="stItemsByPage !== 99">Displaying {{currentPage*stItemsByPage-stItemsByPage+1}} - {{currentPage*stItemsByPage < totalItemCount ? currentPage*stItemsByPage:totalItemCount}} of {{totalItemCount}} record<span data-ng-if="totalItemCount > 1">s</span></span>
</div>