<!-- header -->
<header class="clearfix">
    <!-- logo -->
    <h1>99-20 Identification</h1>
    <a href="javascript:;" data-ng-click="logout()" class="icon logout-icon"></a>
    <!-- profile -->
    <div class="profile">
        <!-- picture -->
        <img src="i/profile.jpg" alt="Profile"/>

        <!--information-->
        <div class="information">
            <p>Welcome ,<span> {{::user.corpId}}</span></p>
            <small>as {{::user.role.name}}</small>
        </div>

    </div>

</header>
<!-- /header -->

<!-- top-section -->
<div class="top-section">
    <!-- background -->
    <div class="left">
        <p class="business-date-tag">Business Date: {{top.calendardate | date: 'MM/dd/yyyy'}}</p>
    </div>
    <div class="right"></div>

    <div class="controls clearfix" data-ng-class="{ 'read-only' : checkRoleGuest() }">

        <ul>
            <li data-ng-class="{ 'hide' : checkRoleGuest() }">
                <a data-ng-class="{'active' : top.import}" id="btn-import" data-ng-click="top.import = !top.import"
                   href="javascript:;">
                    <i class="icon import-icon"></i>
                    <small>Import</small>
                </a>
            </li>
            <li>
                <a data-ng-class="{'active' : top.calendar }" id="btn-calendar" data-ng-click="top.calendar = !top.calendar"
                   href="javascript:;">
                    <i class="icon calendar-icon"></i>
                    <small>Calendar</small>
                </a>
            </li>
            <li>
                <a data-ng-class="{'active' : top.filter }" id="btn-filter" data-ng-click="top.filter = !top.filter"
                   href="javascript:;">
                    <i class="icon filter-icon"></i>
                    <small>Filter</small>
                </a>
            </li>
            <li data-ng-class="{ 'hide' : checkRoleGuest() }">
                <a href="javascript:window.print();">
                    <i class="icon print-icon"></i>
                    <small>Print</small>
                </a>
            </li>
        </ul>
    </div>
    <!-- tabs -->
    <ul class="tabs">
        <li data-ng-class="{active : monitorTab === true}" data-ng-click="monitorTab = true;"><a href="javascript:;">Eligible for Monitoring</a></li>
        <li data-ng-class="{active : monitorTab === false}" data-ng-click="monitorTab = false;"><a href="javascript:;">All Securities</a></li>
    </ul>

    <!-- import-popup -->
    <div data-ng-class="{'show': top.import}" data-off-click="top.import = false;"
         data-off-click-filter="'#btn-import,#ui-datepicker-div'"
         class="import-popup top-popup">
        <div class="inner">
            <div class="clearfix">
                <a class="icon close-icon" data-ng-click="top.import = false;" href="javascript:;"></a>
            </div>
            <h1>Import Data File</h1>
            <small>You can import data file manually if there has some problem with the data server.</small>
            <div class="form">
                <div class="item clearfix">
                    <label>Date</label>

                    <div class="input-wrapper">
                        <input data-datepicker id="importDate" data-ng-model="importDate" type="text" class="calendar-icon" readonly="readonly"/>
                        <span class="last-date" data-ng-click="datePickerTrigger();" data-ng-if="importDate === lastBusinessDate">( last day by default )</span>
                    </div>
                </div>
                <div class="item clearfix">
                    <label>Filename</label>

                    <div class="input-wrapper">
                        <input type="file" class="hidden" id="upload" onchange="angular.element(this).scope().uploadFile(this.files)" />
                        <input id="filename-text" readonly type="text" data-ng-click="upload()" data-ng-model="filename" class="search-icon"/>
                    </div>
                </div>
            </div>
            <div class="buttons clearfix">
                <a href="javascript:;" data-ng-click="top.import = false;" class="button gray">Cancel</a>
                <a href="javascript:;" data-ng-click="checkDataExist()" class="button blue">Import</a>
            </div>
        </div>
    </div>

    <!-- calendar-popup -->
    <div data-ng-class="{'show': top.calendar, 'read-only' : checkRoleGuest() }" data-off-click="top.calendar = false;"
         data-off-click-filter="'#btn-calendar'"
         class="calendar-popup top-popup">
        <div class="inner clearfix">
            <div class="clearfix">
                <a class="icon close-icon" data-ng-click="top.calendar = false;" href="javascript:;"></a>
            </div>
            <h1>Calendar</h1>
            <small>You can click any available date (when non available they are grey)<br/>
                then press View button.
            </small>
            <div class="calendar clearfix">

                <div class="calendar-wrapper">
                    <div data-inline-calendar="" id="inline-calendar"></div>
                </div>

                <div class="left-side">
                    <input readonly placeholder="mm/dd/yyyy" type="text" data-ng-model="top.calendardate"/>

                    <div class="buttons">
                        <a href="javascript:;" data-ng-click="updateCalendarDate()"
                           class="button blue">View</a>
                           <a href="javascript:;" data-ng-click="resetCalendarDate()"
                           class="button blue">Reset</a>
                    </div>
                </div>
            </div>
            <div class="clearfix bottom-section">
                <h3>Notification</h3>
                <p data-ng-repeat="row in fileDetails">{{row.finishedTime | date: 'MM/dd/yyyy'}} - {{row.successRecordCount}} of {{row.totalRecordCount}} record<span data-ng-if="row.totalRecordCount > 1">s</span> loaded.</p>
            </div>
        </div>
    </div>
    <!-- filter-popup -->
    <div data-ng-class="{'show': top.filter, 'read-only' : checkRoleGuest() }" data-off-click="top.filter = false;"
         data-off-click-filter="'#btn-filter,#ui-datepicker-div'"
         class="filter-popup top-popup">
        <div class="inner clearfix">
            <div class="clearfix">
                <a class="icon close-icon" data-ng-click="top.filter = false;" href="javascript:;"></a>
            </div>
            <h1>Filter</h1>

            <!--filter-section-->
            <div class="filter-section">
                <div class="items clearfix">
                    <div class="item">
                        <label>Keyword</label>

                        <div class="inputs">
                            <input type="text" data-ng-model="searchCriteria.keyword" maxlength="20"/>
                        </div>
                    </div>
                    <div class="item">
                        <label>CUSIP</label>

                        <div class="inputs">
                            <input type="text" data-ng-model="searchCriteria.cusip" maxlength="10"/>
                        </div>
                    </div>
                    <div class="item">
                        <label>Market Value From</label>

                        <div class="inputs">
                            <input type="text" data-decimal-only data-ng-model="searchCriteria.marketValueFrom" maxlength="10"/>
                        </div>
                    </div>
                </div>
                <div class="items clearfix">
                    <div class="item">
                        <label>Days Stale</label>

                        <div class="inputs">
                            <input data-numbers-only type="text" data-ng-model="searchCriteria.daysStale" maxlength="5"/>
                        </div>
                    </div>
                    <div class="item">
                        <label>99 - 20 Category</label>

                        <div class="inputs">

                            <div class="chk-box">
                                <input id="option1" type="checkbox" name="field" value="option" data-ng-model="searchCriteria.new9920">
                                <label for="option1"><span class="icon"></span>NEW 99 - 20</label>
                            </div>
                            <div class="chk-box">
                                <input id="option2" type="checkbox" name="field" value="option" data-ng-model="searchCriteria.not9920">
                                <label for="option2"><span class="icon"></span>NOT 99 - 20</label>
                            </div>
                            <div class="chk-box">
                                <input id="option3" type="checkbox" name="field" value="option" data-ng-model="searchCriteria.existing9920">
                                <label for="option3"><span class="icon"></span>EXISTING 99 - 20</label>
                            </div>

                        </div>
                    </div>
                    <div class="item">
                        <label>Market Value To</label>

                        <div class="inputs">
                            <input type="text" data-decimal-only data-ng-model="searchCriteria.marketValueTo" maxlength="10"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons clearfix">
                <a href="javascript:;" data-ng-click="updateCriteria()" class="button blue">Apply Filter</a>
            </div>
        </div>
    </div>

    <div data-ng-class="{'show': top.warning}" class="overlay"></div>
    <!-- warning-modal -->
    <div data-ng-class="{'show': top.warning}" class="warning-modal modal-box">
        <div class="header">
            <a href="javascript:;" data-ng-click="top.warning = false;" class="close-icon icon"></a>

            <h1>Warning</h1>
        </div>
        <div class="body">
            <h3><i class="icon warning-icon"></i>{{errorMsgs.IMPORT_DATA_EXIST1}}</h3>

            <p>{{errorMsgs.IMPORT_DATA_EXIST2}}</p>
        </div>
        <div class="footer">
            <a href="javascript:;" data-ng-click="submit()" class="button blue">Yes</a>
            <a href="javascript:;" data-ng-click="top.warning = false;" class="button gray">No</a>
        </div>
    </div>
    
    <div data-ng-class="{'show': error}" class="overlay"></div>
    <!-- warning-modal -->
    <div data-ng-class="{'show': error}" class="warning-modal modal-box" style="z-index: 1200;">
        <div class="header">
            <a href="javascript:;" data-ng-click="error = false;" class="close-icon icon"></a>

            <h1>Error</h1>
        </div>
        <div class="body">
            <h3><i class="icon warning-icon"></i><span data-ng-bind-html="errorText"></span></h3>
        </div>
        <div class="footer">
            <a href="javascript:;" data-ng-click="error = false;" class="button gray">OK</a>
        </div>
    </div>
</div>
<!-- /top-section -->

<!-- content -->
<div class="content clearfix" data-ng-class="{'expand' : sideBar === false}">
    <!-- show hide side bar -->
    <a data-ng-click="sideBar = !sideBar;" data-ng-class="{'show-icon' : sideBar === false}" href="javascript:;"
       class="icon show-hide-icon" data-tooltip=""
       data-title="<strong>{{sideBar ? 'Hide' : 'Show'}} side panel.</strong><p>This is opened automatically when the user selects one CUSIP to view its details.</p>"></a>
    <!-- side bar -->
    <aside data-ng-include="'partials/side-bar.html'"></aside>
    <!-- side bar -->
    <!-- main-content -->
    <div class="main-content">
        <!-- monitoring-data -->
        <div id="monitor-tab" class="monitoring-data" data-ng-class="{'hide' : monitorTab === false}"
             data-st-pipe="searchMonitor"
             data-st-table="monitoringResult">
            <div class="pagination-wrapper top clearfix">

                <p class="limitsale" data-ng-class="{'hide' : user.role.name === 'Admin'}">Market Limit Value ({{cmoSettingTime}}):
                    {{cmoSetting.marketValueThreshold}}</p>

                <div class="limitsale-div" data-ng-class="{'hide' : user.role.name !== 'Admin'}">
                    <span>Limit value ({{cmoSettingTime}}):</span>
                    <input type="text" data-decimal-only="" maxlength="8" data-ng-model="editThreshold"/>
                    <a href="javascript:;" data-ng-click="updateLimit(editThreshold)">Update</a>

                </div>
                <div data-st-template="template/pagination.html" data-st-pagination2="" data-st-items-by-page="itemsByPage"
                     data-st-displayed-pages="4"></div>
            </div>

            <!-- result-table -->
            <table class="result-table">
                <thead>
                    <tr>
                        <th data-st-sort-default="reverse" data-st-sort="securityStatus">
                            <a href="javascript:;" data-ng-class="{'hide' : user.role.name !== 'Admin'}"
                               data-ng-click="showStatusPopup($event)" class="status-icon">+</a>
                            <label>status</label>
                            <i class="icon sort"></i>
                        </th>
                        <th data-st-sort="cusip">
                            <label>cusip</label>
                            <i class="icon sort"></i>
                        </th>
                        <th data-st-sort="comment">
                            <label>comment</label>
                            <i class="icon sort"></i>
                        </th>
                        <th><label>&nbsp;</label></th>
                        <th data-st-sort="daysStale">
                            <label>Days Below Limit</label>
                            <i class="icon sort"></i>
                        </th>
                        <th>
                            <label data-ng-class="{'hide' : checkRoleGuest()}">Action</label>
                        </th>
                        <th><label>&nbsp;</label></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="no-data" data-ng-show="monitoringResult.length === 0">
                        <td colspan="7">{{errorMsgs.NO_RESULT_FROM_SEARCH}}</td>
                    </tr>
                    <tr class="main-row" data-ng-class-odd="'odd'" data-ng-class="{expanded : row.expand}"
                        data-ng-repeat-start="row in monitoringResult">
                        <td>
                            <p style="width: 165px" data-ng-show="checkRoleGuest()">{{row.securityDailyValue.securityStatus.name}}</p>
                            <select data-ng-hide="checkRoleGuest()"
                                    data-ng-options="option.id as option.name for option in securityStatuses"
                                    data-ng-model="row.securityDailyValue.securityStatus.id"
                                    data-ng-change="updateSecurityStatus(row.securityDailyValue.id, row.securityDailyValue.securityStatus.id)"></select>
                        </td>
                        <td><a data-ng-click="loadCommentData(row.id, row.securityDailyValue.businessDate, row.cusip); row.expand=true;" href="javascript:;"> {{::row.cusip}}</a></td>
                        <td>
                            <p data-ng-class="{hide : row.edit}">{{::row.securityDailyValue.comment}}</p>
                            <input data-ng-class="{hide : !row.edit}" type="text" data-ng-model="row.securityDailyValue.comment"/>
                        </td>
                        <td class="text-center">
                            <a href="javascript:;" data-ng-click="row.edit = false; updateComment($event, row.securityDailyValue, row.cusip)" data-ng-class="{hide : !row.edit}"
                               class="icon save-icon"></a>
                            <a href="javascript:;" data-ng-click="row.edit = true;"
                               data-ng-class="{'hide' : row.edit, 'hidden' : checkRoleGuest()}"
                               data-tooltip="" data-position="right" data-title="<p>Edit this CUSIP comment</p>"
                               class="icon edit-icon"></a>
                            <a href="javascript:;" data-ng-click="row.edit = false;"
                               data-ng-class="{hide : !row.edit}" class="icon cancel-icon"></a>
                        </td>
                        <td class="text-center"><span>{{::row.securityDailyValue.daysStale}}</span></td>
                        <td class="text-center"><a data-tooltip="" data-position="right" data-title="<p>Convert this security</p>"
                                                   href="javascript:;" class="icon refresh-icon"
                                                   data-ng-class="{'hide' : checkRoleGuest()}"></a></td>
                        <td class="text-center"><a data-ng-click="expandSingle(row, monitoringResult)" href="javascript:;" class="icon ex-clps"
                                                   data-tooltip="" data-position="right"
                                                   data-title="<p>{{row.expand ? 'Collapse' : 'Expand'}}</p>"
                                                   data-ng-class="{'expand-icon' : row.expand !== true, 'collapsed-icon' : row.expand === true}"></a>
                        </td>
                    </tr>
                    <tr data-ng-repeat-end="" data-ng-class-odd="'odd'" data-ng-class="{'hide': !row.expand}">
                        <td colspan="7" class="sub-grid">

                            <!-- sub grid -->
                            <table class="result-sub-table" data-st-table="row.securityDetails">
                                <thead>
                                    <tr>
                                        <th data-st-sort-default="reverse" data-st-sort="cusip">
                                            <label>cusip</label>
                                            <i class="icon sort"></i>
                                        </th>
                                        <th data-st-sort="marketValuePrice">
                                            <label>market value price</label>
                                            <i class="icon sort"></i>
                                        </th>
                                        <th data-st-sort="fundNumber">
                                            <label>fund number</label>
                                            <i class="icon sort"></i>
                                        </th>
                                        <th data-st-sort="tradeDate">
                                            <label>trade date</label>
                                            <i class="icon sort"></i>
                                        </th>
                                        <th data-st-sort="settleDate">
                                            <label>settle date</label>
                                            <i class="icon sort"></i>
                                        </th>
                                        <th data-st-sort="taxLotId">
                                            <label>TAX LOT ID</label>
                                            <i class="icon sort"></i>
                                        </th>
                                        <th data-st-sort="secDesc">
                                            <label>SEC DESCRIPTION</label>
                                            <i class="icon sort"></i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-class-odd="'odd'" class="sub-row" data-ng-repeat="subrow in row.securityDetails">
                                        <td><a data-ng-click="loadDetailData(subrow)" href="javascript:;">
                                                {{::subrow.cusip}}</a>
                                        </td>
                                        <td>{{::subrow.marketValuePrice | currency}}</td>
                                        <td>{{::subrow.fundNumber}}</td>
                                        <td>{{::subrow.tradeDate | date:'MM/dd/yyyy'}}</td>
                                        <td>{{::subrow.settleDate | date:'MM/dd/yyyy'}}</td>
                                        <td>{{::subrow.taxLotId}}</td>
                                        <td>{{::subrow.secDesc}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /sub grid -->
                        </td>
                    </tr>
                </tbody>
            </table>


            <div class="pagination-wrapper bottom clearfix">
                <div class="perpage" data-ng-show="monitoringResult.length">
                    <span class="text-left">Show</span>
                    <!-- page size dropdown -->
                    <select data-ng-options="option.id as option.value for option in pageSizes"
                            data-ng-model="itemsByPage"></select>
                    <span class="text-left">per page</span>
                </div>
                <div data-st-template="template/pagination-bottom.html" data-st-pagination2=""
                     data-st-items-by-page="itemsByPage"
                     data-st-displayed-pages="4"></div>
            </div>
        </div>

        <!-- Security-data -->
        <div id="all-tab" class="monitoring-data" data-ng-class="{'hide' : monitorTab === true}"
             data-st-table="allResult"
             data-st-pipe="searchAll">


            <div class="pagination-wrapper top clearfix">

                <p class="limitsale">Market Limit Value : {{cmoSetting.marketValueThreshold}}</p>

                <div data-st-template="template/pagination.html" data-st-pagination2=""
                     data-st-items-by-page="itemsByPageSecurity"
                     data-st-displayed-pages="4"></div>
            </div>

            <!-- result-table -->
            <table class="result-table">
                <thead>
                    <tr>
                        <th data-st-sort-default="reverse" data-st-sort="securityStatus">
                            <label>status</label>
                            <i class="icon sort"></i>
                        </th>
                        <th data-st-sort="cusip">
                            <label>cusip</label>
                            <i class="icon sort"></i>
                        </th>
                        <th data-st-sort="comment">
                            <label>comment</label>
                            <i class="icon sort"></i>
                        </th>
                        <th><label>&nbsp;</label></th>
                        <th data-st-sort="daysStale">
                            <label>Days Below Limit</label>
                            <i class="icon sort"></i>
                        </th>
                        <th>
                            <label>&nbsp;</label>
                        </th>
                        <th><label>&nbsp;</label></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="no-data" data-ng-show="allResult.length === 0">
                        <td colspan="7">{{errorMsgs.NO_RESULT_FROM_SEARCH}}</td>
                    </tr>
                    <tr class="main-row" data-ng-class-odd="'odd'" data-ng-class="{expanded : row.expand}"
                        data-ng-repeat-start="row in allResult">
                        <td>
                            <p style="width: 165px">{{row.securityDailyValue.securityStatus.name}}</p>
                        </td>
                        <td><a data-ng-click="loadCommentData(row.id, row.securityDailyValue.businessDate, row.cusip); row.expand=true;" href="javascript:;"> {{::row.cusip}}</a></td>
                        <td>
                            <p data-ng-class="{hide : row.edit}">{{::row.securityDailyValue.comment}}</p>
                            <input data-ng-class="{hide : !row.edit}" type="text" data-ng-model="row.securityDailyValue.comment"/>
                        </td>
                        <td class="text-center">
                            <a href="javascript:;" data-ng-click="row.edit = true;"
                               data-ng-class="{hide : monitorTab === false}"
                               data-tooltip="" data-position="right" data-title="<p>Edit this CUSIP comment</p>"
                               class="icon edit-icon"></a>
                        </td>
                        <td class="text-center"><span>{{::row.securityDailyValue.daysStale}}</span></td>
                        <td class="text-center"><a data-tooltip="" data-position="right" data-title="<p>Convert this security</p>"
                                                   href="javascript:;" class="icon refresh-icon"
                                                   data-ng-class="{'hide' : monitorTab === false}"></a></td>
                        <td class="text-center"><a data-ng-click="expandSingle(row, allResult)" href="javascript:;" class="icon"
                                                   data-tooltip="" data-position="right"
                                                   data-title="<p>{{row.expand ? 'Collapse' : 'Expand'}}</p>"
                                                   data-ng-class="{'expand-icon' : row.expand !== true, 'collapsed-icon' : row.expand === true}"></a>
                        </td>
                    </tr>
                    <tr data-ng-repeat-end="" data-ng-class-odd="'odd'" data-ng-class="{'hide': !row.expand}">
                        <td colspan="7" class="sub-grid">

                            <!-- sub grid -->
                            <table class="result-sub-table" data-st-table="row.securityDetails">
                                <thead>
                                    <tr>
                                        <th data-st-sort="cusip">
                                            <label>cusip</label>
                                            <i class="icon sort"></i>
                                        </th>
                                        <th data-st-sort="marketValuePrice">
                                            <label>market value price</label>
                                            <i class="icon sort"></i>
                                        </th>
                                        <th data-st-sort="fundNumber">
                                            <label>fund number</label>
                                            <i class="icon sort"></i>
                                        </th>
                                        <th data-st-sort="tradeDate">
                                            <label>trade date</label>
                                            <i class="icon sort"></i>
                                        </th>
                                        <th data-st-sort="settleDate">
                                            <label>settle date</label>
                                            <i class="icon sort"></i>
                                        </th>
                                        <th data-st-sort="fyrBeginDate">
                                            <label>fyr begin date</label>
                                            <i class="icon sort"></i>
                                        </th>
                                        <th data-st-sort="fyrEndDate">
                                            <label>fyr end date</label>
                                            <i class="icon sort"></i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-class-odd="'odd'" class="sub-row" data-ng-repeat="subrow in row.securityDetails">
                                        <td><a data-ng-click="loadDetailData(subrow)" href="javascript:;">
                                                {{::subrow.cusip}}</a>
                                        </td>
                                        <td>{{::subrow.marketValuePrice | currency}}</td>
                                        <td>{{::subrow.fundNumber}}</td>
                                        <td>{{::subrow.tradeDate | date: 'MM/dd/yyyy'}}</td>
                                        <td>{{::subrow.settleDate | date: 'MM/dd/yyyy'}}</td>
                                        <td>{{::subrow.fyrBeginDate | date: 'MM/dd/yyyy'}}</td>
                                        <td>{{::subrow.fyrEndDate | date: 'MM/dd/yyyy'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /sub grid -->
                        </td>
                    </tr>
                </tbody>
            </table>


            <div class="pagination-wrapper bottom clearfix">
                <div class="perpage" data-ng-show="allResult.length">
                    <span class="text-left">Show</span>
                    <!-- page size dropdown -->
                    <select data-ng-options="option.id as option.value for option in pageSizes"
                            data-ng-model="itemsByPageSecurity"></select>
                    <span class="text-left">per page</span>
                </div>
                <div data-st-template="template/pagination-bottom.html" data-st-pagination2=""
                     data-st-items-by-page="itemsByPageSecurity"
                     data-st-displayed-pages="4"></div>
            </div>
        </div>


        <div data-ng-class="{'show': statusModal}" class="overlay"></div>
        <!-- status-modal -->
        <div data-ng-class="{'show': statusModal}" class="status-modal modal-box">
            <div class="header">
                <a href="javascript:;" data-ng-click="closeStatusPopup()" class="close-icon icon"></a>

                <h1>Manage Status Option</h1>
            </div>
            <div class="body">

                <table>
                    <thead>
                        <tr>
                            <th>Set as default</th>
                            <th>Current option</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="status in editableStatuses">

                            <td>
                                <div class="rdo-box">
                                    <input id="rdo{{$index}}" type="radio" data-ng-model="defaultStatus"
                                           data-ng-value="{{$index}}" data-ng-click="checkPrimary(status)" name="r1"/>
                                    <label for="rdo{{$index}}"><span class="icon"></span>&nbsp;</label>
                                </div>
                            </td>
                            <td class="text-left">
                                <p data-ng-class="{'hide' : status.edit}" class="break-word">{{status.name}}</p>
                                <input type="text" data-ng-model="status.name" maxlength="200" data-ng-class="{'hide' : !status.edit}"/>
                            </td>
                            <td>
                                <a href="javascript:;" data-ng-class="{'hide' : status.edit}" data-ng-click="status.edit = true;"
                                   class="icon edit-icon"> </a>
                                <a href="javascript:;" data-ng-class="{'hide' : !status.edit}" data-ng-click="status.edit = false;"
                                   class="icon save-icon"> </a>
                                <a href="javascript:;" data-ng-click="removeStatus(status.id)" class="icon remove-icon"> </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <a data-ng-click="addStatus()" href="javascript:;"><i class="icon add-icon"></i> Add Option
                                    Status</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="footer">
                <a href="javascript:;" data-ng-click="saveStatus()" class="button blue">Save Changes</a>
                <a href="javascript:;" data-ng-click="closeStatusPopup()" class="button gray">Cancel</a>
            </div>
        </div>
    </div>
    <div class="loading-modal" data-loading>
    </div>
    <!-- /main-content -->
</div>
<!-- /content -->
