<ul class="list-group">
    <li class="list-group-item"><a href="javascript:;" data-ng-click="normalUser()">Normal user</a></li>
    <li class="list-group-item"><a href="javascript:;" data-ng-click="adminUser()">Admin user</a></li>
    <li class="list-group-item"><a href="javascript:;" data-ng-click="readOnlyUser()">Read Only user</a></li>
</ul>