<div class="side-bar">
    <!-- tabs -->
    <ul class="tabs clearfix">
        <li data-ng-class="{'active' : $root.commentTable === true}" data-ng-click="$root.commentTable = true;"><a href="javascript:;">comment
            history</a></li>
        <li data-ng-class="{'active' : $root.commentTable === false}" data-ng-click="$root.commentTable = false;"><a
                href="javascript:;">field/value</a></li>
    </ul>

    <div data-ng-show="$root.commentTable === true" class="comment-table">
        <table>
            <tr>
                <th>

                    <strong>{{currentCusip}}</strong> comment history ( {{comments.length}} )
                </th>
            </tr>
        </table>
        <div class="scrollable">
            <table>
                <tr data-ng-repeat="row in comments">
                    <td class="comment-history-td">{{row.commentText}}</td>
                    <td class="text-right">{{row.businessDate | date:'MM/dd/yyyy'}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div data-ng-show="$root.commentTable === false" class="field-table">
        <table>
            <tr>
                <th>

                    <strong>{{currentCusip}}</strong> Field
                </th>
                <th class="text-right">Value</th>
            </tr>
        </table>
        <div class="scrollable">
            <table>
                <tr>
                    <td>CUSIP</td>
                    <td class="text-right">{{currentDetail.cusip}}</td>
                </tr>
                <tr>
                    <td>99-20 CATEGORY</td>
                    <td class="text-right">{{currentDetail.category9920}}</td>
                </tr>
                <tr>
                    <td>99-20 REASON</td>
                    <td class="text-right">{{currentDetail.reason9920}}</td>
                </tr>
                <tr>
                    <td>SEC TYPE</td>
                    <td class="text-right">{{currentDetail.secType}}</td>
                </tr>
                <tr>
                    <td>IO-PO IND</td>
                    <td class="text-right">{{currentDetail.ioPoInd}}</td>
                </tr>
                <tr>
                    <td>TAX LOT ID</td>
                    <td class="text-right">{{currentDetail.taxLotId}}</td>
                </tr>
                <tr>
                    <td>COUPON RATE</td>
                    <td class="text-right">{{currentDetail.couponRate | currency}}</td>
                </tr>
                <tr>
                    <td>QUANTITY PAR</td>
                    <td class="text-right">{{currentDetail.quantityPar | currency}}</td>
                </tr>
                <tr>
                    <td>AMORTIZED COST PRICE</td>
                    <td class="text-right">{{currentDetail.amortizedCostPrice | currency}}</td>
                </tr>
                <tr>
                    <td>CURRENT BOOK COST</td>
                    <td class="text-right">{{currentDetail.currentBookCost | currency}}</td>
                </tr>
                <tr>
                    <td>BASE ORIG COST</td>
                    <td class="text-right">{{currentDetail.baseOrigCost | currency}}</td>
                </tr>
                <tr>
                    <td>MARKET VALUE PRICE</td>
                    <td class="text-right">{{currentDetail.marketValuePrice | currency}}</td>
                </tr>
                <tr>
                    <td>UNIT OF CALC</td>
                    <td class="text-right">{{currentDetail.unitOfCalc}}</td>
                </tr>
                <tr>
                    <td>CURRENCY CODE</td>
                    <td class="text-right">{{currentDetail.currencyCode}}</td>
                </tr>
                <tr>
                    <td>EXCHANGE RATE</td>
                    <td class="text-right">{{currentDetail.exchangeRate | currency}}</td>
                </tr>
                <tr>
                    <td>EXCHANGE RATE IND</td>
                    <td class="text-right">{{currentDetail.exchangeRateInd}}</td>
                </tr>
                <tr>
                    <td>YIELD TO MATURITY</td>
                    <td class="text-right">{{currentDetail.yieldToMaturity}}</td>
                </tr>
                <tr>
                    <td>YIELD TO WORST</td>
                    <td class="text-right">{{currentDetail.yieldToWorst}}</td>
                </tr>
                <tr>
                    <td>PURCHASE PRICE</td>
                    <td class="text-right">{{currentDetail.purchasePrice | currency}}</td>
                </tr>
                <tr>
                    <td>MATURITY DATE</td>
                    <td class="text-right">{{currentDetail.maturityDate | date:'MM/dd/yyyy'}}</td>
                </tr>
                <tr>
                    <td>SEC DESCRIPTION</td>
                    <td class="text-right">{{currentDetail.secDesc}}</td>
                </tr>
                <tr>
                    <td>REDEMPTION_VALUE</td>
                    <td class="text-right">{{currentDetail.redemptionValue}}</td>
                </tr>
                <tr>
                    <td>TAX LOT L/S IND</td>
                    <td class="text-right">{{currentDetail.taxLotLsInd}}</td>
                </tr>
                <tr>
                    <td>S & P RATING</td>
                    <td class="text-right">{{currentDetail.sandpRating}}</td>
                </tr>
                <tr>
                    <td>FITCH RATING</td>
                    <td class="text-right">{{currentDetail.fitchRating}}</td>
                </tr>
                <tr>
                    <td>MOODY RATING</td>
                    <td class="text-right">{{currentDetail.moodyRating}}</td>
                </tr>
                <tr>
                    <td>USER RATING</td>
                    <td class="text-right">{{currentDetail.userRating}}</td>
                </tr>
                <tr>
                    <td>ISSUE-LENGTH</td>
                    <td class="text-right">{{currentDetail.issueLength}}</td>
                </tr>
                <tr>
                    <td>EFFECT MATURITY DATE</td>
                    <td class="text-right">{{currentDetail.effectMaturityDate | date: 'MM/dd/yyyy'}}</td>
                </tr>
                <tr>
                    <td>PROSPECT METHOD</td>
                    <td class="text-right">{{currentDetail.prospectMethod}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>