/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  box-sizing: border-box;
  outline: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}

.comment-history-td {
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    max-width: 215px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

body {
  background: #ffffff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  min-width: 1260px; }

/* icon */
.icon {
  background: url(../i/sprite.png) no-repeat; }

a {
  text-decoration: none; }
  a:visited, a:hover, a:focus {
    text-decoration: none; }

/* button */
button {
  cursor: pointer; }

input::-ms-clear {
  display: none;
}

/* header */
header {
  height: 56px;
  background: #6d8c3b;
  border-bottom: 1px solid #51682c;
  padding: 0 35px 0 35px; }
  header h1 {
    float: left;
    line-height: 56px;
    color: #fff;
    font-size: 24px;
  }
  header .logo {
    float: left;
    margin-top: 17px;
    width: 120px;
    height: 25px; }
  header .profile {
    float: right; }
    header .profile img {
      float: right;
      border-radius: 100%;
      margin-top: 8px;
      width: 40px;
      height: 40px;
      margin-left: 18px; }
    header .profile .information {
      float: right;
      text-align: right;
      font-size: 14px;
      color: #ffffff;
      padding-top: 12px; }
      header .profile .information p {
        font-weight: 700;
        padding-bottom: 5px; }
      header .profile .information small {
        font-size: 12px;
        font-weight: 400; }
  header .logout-icon {
    width: 25px;
    height: 25px;
    float: right;
    margin-top: 17px;
    background-position: 0 -40px;
    margin-left: 24px; }
    header .logout-icon:hover {
      opacity: .6; }

/* top-section */
.top-section {
  width: 100%;
  height: 139px;
  position: relative;
  border-bottom: 1px solid #bccba2; }
  .top-section .left {
    width: 50%;
    float: left;
    height: 138px;
    background: #fafafa url(../i/top-sectiol-left.png) top left no-repeat; }
  .top-section .right {
    width: 50%;
    float: right;
    height: 138px;
    background: #fafafa url(../i/top-sectiol-right.png) top right no-repeat; }
  .top-section .controls {
    width: 279px;
    height: 63px;
    background: #6d8c3b;
    top: 38px;
    right: 35px;
    position: absolute; }
    .top-section .controls.read-only {
      width: 140px; }
      .top-section .controls.read-only ul li:nth-child(3) {
        border-right: 0; }
    .top-section .controls ul li {
      width: 69px;
      height: 47px;
      margin-top: 8px;
      float: left;
      border-right: 1px solid #88a260; }
      .top-section .controls ul li:last-child {
        border-right: 0; }
      .top-section .controls ul li a {
        display: block;
        width: 69px;
        height: 47px; }
        .top-section .controls ul li a i {
          width: 25px;
          height: 25px;
          display: block;
          margin: 3px auto 5px auto; }
          .top-section .controls ul li a i.import-icon {
            background-position: -25px -40px; }
          .top-section .controls ul li a i.calendar-icon {
            background-position: -50px -40px; }
          .top-section .controls ul li a i.filter-icon {
            background-position: -75px -40px; }
          .top-section .controls ul li a i.print-icon {
            background-position: -100px -40px; }
        .top-section .controls ul li a small {
          font-size: 12px;
          color: #ffffff;
          display: block;
          text-align: center; }
        .top-section .controls ul li a:hover i.import-icon, .top-section .controls ul li a.active i.import-icon {
          background-position: -25px -115px; }
        .top-section .controls ul li a:hover i.calendar-icon, .top-section .controls ul li a.active i.calendar-icon {
          background-position: -50px -115px; }
        .top-section .controls ul li a:hover i.filter-icon, .top-section .controls ul li a.active i.filter-icon {
          background-position: 0 -140px; }
        .top-section .controls ul li a:hover i.print-icon, .top-section .controls ul li a.active i.print-icon {
          background-position: -25px -140px; }
        .top-section .controls ul li a:hover small, .top-section .controls ul li a.active small {
          color: #a5bf7a; }
  .top-section .tabs {
    position: absolute;
    bottom: -1px;
    left: 35px; }
    .top-section .tabs li {
      float: left;
      height: 47px;
      border: 1px solid #b6c59d;
      border-bottom: 0;
      background: #bccba2;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      margin-right: 2px; }
      .top-section .tabs li:first-child {
        width: 262px; }
      .top-section .tabs li:last-child {
        width: 184px; }
      .top-section .tabs li:hover {
        background: #dde5d0; }
      .top-section .tabs li a {
        width: 100%;
        height: 46px;
        text-align: center;
        display: block;
        font-size: 14px;
        color: #6d8c3b;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 46px;
        text-shadow: 0 1px 1px rgba(250, 250, 250, 0.9); }
      .top-section .tabs li.active {
        background: #ffffff; }
        .top-section .tabs li.active a {
          color: #5a6746;
          text-shadow: none; }

/* content */
.content {
  padding: 55px 35px 40px 35px;
  position: relative; }
  .content aside {
    width: 342px;
    float: right;
    padding-left: 30px; }
  .content .main-content {
    float: left;
    width: calc(100% - 342px); }
  .content.expand aside {
    display: none; }
  .content.expand .main-content {
    width: 100%; }
  .content.expand .pagination-wrapper.top {
    padding-right: 40px; }
  .content .show-hide-icon {
    z-index: 100;
    width: 26px;
    height: 26px;
    display: block;
    position: absolute;
    right: 35px;
    top: 55px;
    background-color: #3e70c5;
    border-radius: 2px;
    background-position: -125px -40px; }
    .content .show-hide-icon.show-icon {
      background-position: -150px -40px; }
    .content .show-hide-icon:hover {
      background-color: #76a8fd; }

/* .side-bar */
.side-bar {
  position: relative; }
  .side-bar .tabs {
    border-bottom: 1px solid #bccba2;
    width: 100%; }
    .side-bar .tabs li {
      position: relative;
      bottom: -1px;
      float: left;
      height: 37px;
      border: 1px solid #b6c59d;
      border-bottom: 0;
      background: #bccba2;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      margin-right: 2px; }
      .side-bar .tabs li:hover {
        background: #dde5d0; }
      .side-bar .tabs li:first-child {
        width: 152px; }
      .side-bar .tabs li:last-child {
        width: 117px; }
      .side-bar .tabs li a {
        width: 100%;
        height: 36px;
        text-align: center;
        display: block;
        font-size: 11px;
        color: #6d8c3b;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 36px;
        text-shadow: 0 1px 1px rgba(250, 250, 250, 0.9); }
      .side-bar .tabs li.active {
        background: #ffffff; }
        .side-bar .tabs li.active a {
          color: #5a6746;
          text-shadow: none; }

/* .tooltip */
.tool-tip {
  z-index: 999;
  position: absolute;
  background: #959595;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  width: 225px;
  height: 100px;
  color: #ffffff;
  font-size: 12px; }
  .tool-tip.right {
    height: 38px;
    line-height: 38px;
    width: auto; }
    .tool-tip.right:before {
      background-position: -150px -90px;
      left: -10px; }
    .tool-tip.right p {
      position: relative;
      top: -12px;
      line-height: 12px; }
  .tool-tip strong {
    font-weight: 700;
    padding: 5px 18px;
    position: relative;
    top: -8px; }
  .tool-tip p {
    padding: 0 18px;
    line-height: 17px; }
  .tool-tip:before {
    width: 10px;
    height: 25px;
    background: url(../i/sprite.png) -150px -65px no-repeat;
    content: "";
    display: block;
    position: relative;
    left: 225px;
    top: 10px; }

/* comment-table */
.comment-table, .field-table {
  padding-top: 3px; }
  .comment-table .scrollable, .field-table .scrollable {
    max-height: 950px;
    border: 1px solid #6d8c3b;
    overflow: auto; }
  .comment-table table, .field-table table {
    width: 100%; }
    .comment-table table tr th, .field-table table tr th {
      color: #ffffff;
      background: #6d8c3b;
      font-size: 11px;
      height: 38px;
      padding-left: 15px;
      line-height: 38px;
      text-transform: uppercase;
      padding-right: 30px;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15); }
      .comment-table table tr th strong, .field-table table tr th strong {
        font-size: 14px;
        padding-right: 5px;
        font-weight: 700; }
    .comment-table table tr:nth-child(odd) td, .field-table table tr:nth-child(odd) td {
      background: #fafafa;
      border-left-color: #fafafb; }
    .comment-table table tr td, .field-table table tr td {
      font-size: 11px;
      color: #959595;
      line-height: 14px;
      padding: 11px 15px 11px 11px;
      font-weight: 300;
      border-left: 4px solid #ffffff; }
      .comment-table table tr td.selected, .field-table table tr td.selected {
        border-left-color: #a4c076; }

.field-table .scrollable {
  max-height: 970px; }
.field-table table tr td {
  padding: 8px 15px 8px 11px; }

/* top-popup */
.top-popup {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 35px;
  top: 102px;
  background: #ffffff;
  display: none;
  z-index: 200; }
  .top-popup:before {
    width: 27px;
    height: 13px;
    background: url(../i/sprite.png) -136px -115px no-repeat;
    content: "";
    display: block;
    position: relative;
    left: 336px;
    top: -13px; }
  .top-popup.import-popup {
    width: 595px;
    height: 325px; }
    .top-popup.import-popup .buttons .button.gray {
      margin-right: 28px; }
  .top-popup.filter-popup {
    width: 740px;
    height: 380px; }
    .top-popup.filter-popup:before {
      left: 629px; }
    .top-popup.filter-popup.read-only:before {
      left: 698px; }
    .top-popup.filter-popup .inner .buttons {
      padding-top: 25px; }
  .top-popup.calendar-popup {
    width: 684px; }
    .top-popup.calendar-popup .inner {
      padding-bottom: 35px; }
    .top-popup.calendar-popup:before {
      left: 496px; }
    .top-popup.calendar-popup.read-only:before {
      left: 565px; }
  .top-popup.show {
    display: block; }
  .top-popup .inner {
    padding: 7px 20px 20px 37px; }
    .top-popup .inner .close-icon {
      width: 20px;
      height: 20px;
      float: right;
      background-position: -140px 0; }
      .top-popup .inner .close-icon:hover {
        opacity: .6; }
    .top-popup .inner h1 {
      color: #959595;
      font-size: 24px;
      padding-bottom: 5px; }
    .top-popup .inner small {
      color: #959595;
      font-size: 12px;
      font-weight: 300; }
    .top-popup .inner .buttons {
      padding-top: 26px; }
      .top-popup .inner .buttons .button {
        margin-left: 5px;
        padding: 0 22px;
        height: 34px;
        border-radius: 17px;
        line-height: 34px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
        float: right;
        text-align: center;
        font-size: 14px;
        color: #ffffff; }
        .top-popup .inner .buttons .button.blue {
          background: #3e6fc5;
          background: -moz-linear-gradient(top, #3e6fc5 0%, #4378d4 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, #3e6fc5), color-stop(100%, #4378d4));
          background: -webkit-linear-gradient(top, #3e6fc5 0%, #4378d4 100%);
          background: -o-linear-gradient(top, #3e6fc5 0%, #4378d4 100%);
          background: -ms-linear-gradient(top, #3e6fc5 0%, #4378d4 100%);
          background: linear-gradient(to bottom, #3e6fc5 0%, #4378d4 100%); }
        .top-popup .inner .buttons .button.gray {
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
          background: #d7d7d7;
          background: -moz-linear-gradient(top, #d7d7d7 0%, #c2c2c2 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, #d7d7d7), color-stop(100%, #c2c2c2));
          background: -webkit-linear-gradient(top, #d7d7d7 0%, #c2c2c2 100%);
          background: -o-linear-gradient(top, #d7d7d7 0%, #c2c2c2 100%);
          background: -ms-linear-gradient(top, #d7d7d7 0%, #c2c2c2 100%);
          background: linear-gradient(to bottom, #d7d7d7 0%, #c2c2c2 100%); }
        .top-popup .inner .buttons .button:hover {
          opacity: .8; }
    .top-popup .inner .form {
      padding-top: 45px; }
      .top-popup .inner .form .item {
        padding-bottom: 12px; }
        .top-popup .inner .form .item label {
          font-weight: 300;
          font-size: 14px;
          color: #959595;
          line-height: 38px;
          width: 78px;
          float: left; }
        .top-popup .inner .form .item .input-wrapper {
          position: relative; }
          .top-popup .inner .form .item .input-wrapper .last-date {
            font-size: 12px;
            color: #959595;
            position: absolute;
            top: 13px;
            left: 172px; }
          .top-popup .inner .form .item .input-wrapper input {
            border: 1px solid #bdbdbd;
            height: 38px;
            width: 432px;
            cursor: pointer;
            float: left;
            padding: 0 40px 0 12px;
            font-size: 14px;
            color: #636363;
            line-height: 38px;
            font-weight: 300; }
            .top-popup .inner .form .item .input-wrapper input.search-icon {
              background: #f7f7f7 url(../i/search-icon.png) top right no-repeat; }
            .top-popup .inner .form .item .input-wrapper input.calendar-icon {
              background: #f7f7f7 url(../i/calendar-icon.png) top right no-repeat; }
    .top-popup .inner .calendar {
      padding: 25px 0; }
      .top-popup .inner .calendar .calendar-wrapper {
        width: 425px;
        float: left;
        border: 1px solid #b8b8ba;
        padding: 0 12px 12px 12px; }
    .top-popup .inner .left-side {
      width: 160px;
      padding-right: 15px;
      float: right; }
      .top-popup .inner .left-side input {
        border: 1px solid #bdbdbd;
        height: 38px;
        width: 100%;
        float: left;
        padding: 0 12px;
        font-size: 14px;
        color: #636363;
        line-height: 38px;
        background: #f7f7f7;
        font-weight: 300; }
        .top-popup .inner .left-side input::-webkit-input-placeholder {
          color: #636363; }
        .top-popup .inner .left-side input:-moz-placeholder {
          /* Firefox 18- */
          color: #636363; }
        .top-popup .inner .left-side input::-moz-placeholder {
          /* Firefox 19+ */
          color: #636363; }
        .top-popup .inner .left-side input:-ms-input-placeholder {
          color: #636363; }
      .top-popup .inner .left-side .buttons .button {
        margin-top: 30px;
        width: 100%; }
    .top-popup .inner .bottom-section h3 {
      color: #959595;
      font-weight: 700;
      font-size: 12px;
      padding-bottom: 10px; }
    .top-popup .inner .bottom-section p {
      color: #959595;
      font-size: 12px;
      line-height: 14px; }
    .top-popup .inner .filter-section .items {
      padding-top: 40px; }
    .top-popup .inner .filter-section .items:first-child {
      padding-top: 28px; }
      .top-popup .inner .filter-section .items .item {
        width: 205px;
        margin-right: 30px;
        float: left; }
        .top-popup .inner .filter-section .items .item:last-child {
          margin-right: 0; }
        .top-popup .inner .filter-section .items .item label {
          font-size: 12px;
          font-weight: 300;
          color: #959595;
          line-height: 24px; }
        .top-popup .inner .filter-section .items .item input {
          border: 1px solid #bdbdbd;
          height: 38px;
          width: 100%;
          float: left;
          padding: 0 40px 0 12px;
          font-size: 14px;
          color: #636363;
          line-height: 38px;
          background: #f7f7f7;
          font-weight: 300; }
          .top-popup .inner .filter-section .items .item input::-webkit-input-placeholder {
            color: #636363; }
          .top-popup .inner .filter-section .items .item input:-moz-placeholder {
            /* Firefox 18- */
            color: #636363; }
          .top-popup .inner .filter-section .items .item input::-moz-placeholder {
            /* Firefox 19+ */
            color: #636363; }
          .top-popup .inner .filter-section .items .item input:-ms-input-placeholder {
            color: #636363; }
          .top-popup .inner .filter-section .items .item input.datepicker {
            cursor: pointer;
            background: #f7f7f7 url(../i/calendar-icon.png) top right no-repeat; }
        .top-popup .inner .filter-section .items .item .chk-box {
          padding-bottom: 8px; }
          .top-popup .inner .filter-section .items .item .chk-box input[type=checkbox]:not(old),
          .top-popup .inner .filter-section .items .item .chk-box input[type=radio]:not(old) {
            display: none; }
          .top-popup .inner .filter-section .items .item .chk-box input[type=checkbox]:not(old) + label,
          .top-popup .inner .filter-section .items .item .chk-box input[type=radio]:not(old) + label {
            display: inline-block;
            line-height: 16px;
            font-weight: 300;
            font-size: 14px;
            color: #636363; }
          .top-popup .inner .filter-section .items .item .chk-box input[type=checkbox]:not(old) + label > span,
          .top-popup .inner .filter-section .items .item .chk-box input[type=radio]:not(old) + label > span {
            float: left;
            width: 16px;
            height: 16px;
            margin-right: 14px;
            background-position: -100px -90px; }
          .top-popup .inner .filter-section .items .item .chk-box input[type=checkbox]:not(old):checked + label > span,
          .top-popup .inner .filter-section .items .item .chk-box input[type=radio]:not(old):checked + label > span {
            background-position: -125px -90px; }

/* ui-datepicker */
.ui-datepicker {
  border: 1px solid #b8b8ba;
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  border-radius: 0; }
  .ui-datepicker.ui-datepicker-inline {
    border: 0;
    background: transparent; }
  .ui-datepicker .ui-datepicker-header {
    background: #ffffff;
    border: none;
    font-size: 12px;
    color: #959595;
    padding-bottom: 10px; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-title {
      line-height: 25px; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
      width: 25px;
      height: 25px;
      border: 0;
      background: url(../i/sprite.png) 0 -90px; }
      .ui-datepicker .ui-datepicker-header .ui-datepicker-next span {
        display: none; }
      .ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover {
        right: 2px;
        top: 2px;
        cursor: pointer;
        background-position: -50px -140px; }
      .ui-datepicker .ui-datepicker-header .ui-datepicker-next.ui-state-disabled:hover {
        right: 2px;
        top: 2px;
        background-position: 0 -90px;  }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
      width: 25px;
      height: 25px;
      border: 0;
      background: url(../i/sprite.png) -25px -90px; }
      .ui-datepicker .ui-datepicker-header .ui-datepicker-prev span {
        display: none; }
      .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover {
        right: 2px;
        top: 2px;
        cursor: pointer;
        background-position: -75px -140px; }
      .ui-datepicker .ui-datepicker-header .ui-datepicker-prev.ui-state-disabled:hover {
        right: 2px;
        top: 2px;
        background-position: -25px -90px;}
  .ui-datepicker .ui-datepicker-group {
    width: 200px;
    background: #ffffff; }
  .ui-datepicker .ui-datepicker-calendar th, .ui-datepicker .ui-datepicker-calendar td {
    font-size: 11px;
    font-weight: 300;
    color: #636363;
    padding: 0; }
    .ui-datepicker .ui-datepicker-calendar th a, .ui-datepicker .ui-datepicker-calendar td a {
      font-size: 11px;
      font-weight: 300;
      color: #696969;
      border: 0;
      width: 100%;
      height: 24px;
      float: left;
      line-height: 24px;
      text-align: center;
      background: #ffffff; }
      .ui-datepicker .ui-datepicker-calendar th a.ui-state-active, .ui-datepicker .ui-datepicker-calendar td a.ui-state-active {
        background: #f6beba;
        line-height: 22px;
        border: 1px solid #ffffff; }
    .ui-datepicker .ui-datepicker-calendar th.ui-datepicker-other-month, .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-other-month {
      padding: 0;
      margin: 0; }
      .ui-datepicker .ui-datepicker-calendar th.ui-datepicker-other-month span, .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-other-month span {
        width: 24px;
        height: 24px;
        float: left;
        padding: 0;
        margin: 0;
        border: 0;
        opacity: 0; }
    .ui-datepicker .ui-datepicker-calendar th.ui-datepicker-unselectable, .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-unselectable {
      padding: 0;
      margin: 0; }
      .ui-datepicker .ui-datepicker-calendar th.ui-datepicker-unselectable.zero span:before, .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-unselectable.zero span:before {
        content: "0"; }
      .ui-datepicker .ui-datepicker-calendar th.ui-datepicker-unselectable span, .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-unselectable span {
        width: 100%;
        line-height: 24px;
        text-align: center;
        height: 24px;
        float: left;
        padding: 0;
        margin: 0;
        border: 0;
        color: #cccccc;
        font-weight: 300; }
  .ui-datepicker .ui-datepicker-calendar td {
    padding: 0;
    border-left: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    width: 25px;
    height: 25px; }
    .ui-datepicker .ui-datepicker-calendar td.zero a:before {
      content: "0"; }
    .ui-datepicker .ui-datepicker-calendar td:last-child {
      border-right: 1px solid #d6d6d6; }
  .ui-datepicker .ui-datepicker-calendar th {
    height: 22px;
    background: #ebebeb;
    line-height: 22px;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6; }
    .ui-datepicker .ui-datepicker-calendar th:first-child {
      border-left: 1px solid #d6d6d6; }
    .ui-datepicker .ui-datepicker-calendar th:last-child {
      border-right: 1px solid #d6d6d6; }

/* result-table */
.result-table {
  border: 1px solid #6d8c3b;
  width: 100%; }
  .result-table thead tr th {
    height: 38px;
    padding-left: 20px;
    background: #6d8c3b; }
    .result-table thead tr th label {
      color: #ffffff;
      font-size: 10px;
      line-height: 38px;
      text-transform: uppercase;
      float: left;
      text-shadow: 0 1px 1px #5d7732;
      }
    .result-table thead tr th .sort {
      width: 10px;
      height: 7px;
      float: left;
      margin: 15px 0 0 10px;
      background-position: -125px -20px; }
    .result-table thead tr th.st-sort-descent .sort {
      background-position: -125px 0; }
    .result-table thead tr th.st-sort-ascent .sort {
      background-position: -125px -30px; }
    .result-table thead tr th a.status-icon {
      width: 26px;
      height: 26px;
      float: left;
      border-radius: 2px;
      background: #3e70c5;
      line-height: 26px;
      text-align: center;
      font-weight: 300;
      color: #ffffff;
      margin-right: 14px;
      margin-top: 5px;
      font-size: 14px; }
      .result-table thead tr th a.status-icon:hover {
        opacity: .6; }
  .result-table tbody tr.main-row.odd td {
    background: #fafafa; }
  .result-table tbody tr.main-row.expanded td p {
    color: #707070; }
  .result-table tbody tr.main-row.expanded td select {
    color: #636363; }
  .result-table tbody tr.main-row td {
    padding: 5px 0 5px 20px;
    vertical-align: middle;
    color: #959595;
    font-size: 12px; }
    .result-table tbody tr.main-row td:nth-child(1) {
      width: 165px; }
    .result-table tbody tr.main-row td:nth-child(2) {
      width: 90px; }
    .result-table tbody tr.main-row td:nth-child(3) {
      max-width: 370px;
    }
    .result-table tbody tr.main-row td:nth-child(4) {
      width: 70px;
      padding-left: 0; }
    .result-table tbody tr.main-row td:nth-child(5) {
      width: 170px;
      padding-left: 0; }
    .result-table tbody tr.main-row td:nth-child(6) {
      width: 70px;
      padding-left: 0; }
    .result-table tbody tr.main-row td:nth-child(7) {
      width: 50px;
      padding-left: 0; }
    .result-table tbody tr.main-row td span {
      color: #636363;
      font-weight: 300; }
    .result-table tbody tr.main-row td p {
      font-weight: 300;
      color: #959595;
      line-height: 15px; }
    .result-table tbody tr.main-row td a {
      color: #3e70c5; }
      .result-table tbody tr.main-row td a:hover {
        text-align: center; }
      .result-table tbody tr.main-row td a.icon {
        width: 25px;
        height: 25px;
        display: inline-block; }
        .result-table tbody tr.main-row td a.icon.edit-icon {
          background-position: -25px -65px; }
          .result-table tbody tr.main-row td a.icon.edit-icon:hover {
            background-position: -75px -115px; }
        .result-table tbody tr.main-row td a.icon.cancel-icon {
          background-position: 0px 0px; }
          .result-table tbody tr.main-row td a.icon.cancel-icon:hover {
            background-position: -25px 0; }
        .result-table tbody tr.main-row td a.icon.refresh-icon {
          background-position: 0px -65px; }
          .result-table tbody tr.main-row td a.icon.refresh-icon:hover {
            background-position: 0px -115px; }
        .result-table tbody tr.main-row td a.icon.expand-icon {
          background-position: -75px -65px; }
          .result-table tbody tr.main-row td a.icon.expand-icon:hover {
            background-position: -75px -90px; }
        .result-table tbody tr.main-row td a.icon.collapsed-icon {
          background-position: -50px -65px; }
          .result-table tbody tr.main-row td a.icon.collapsed-icon:hover {
            background-position: -50px -90px; }
        .result-table tbody tr.main-row td a.icon.save-icon {
          background-position: -100px -141px; }
          .result-table tbody tr.main-row td a.icon.save-icon:hover {
            background-position: -125px -141px; }
    .result-table tbody tr.main-row td select {
      float: left;
      -webkit-appearance: none;
      -moz-appearance: none;
      border-radius: 0;
      margin: 0;
      height: 38px;
      width: 140px;
      padding: 0 40px 0 10px;
      background: #f7f7f7 url(../i/main-select.png) top right no-repeat;
      border: 1px solid #bdbdbd;
      color: #959595;
      font-weight: 300;
      font-size: 12px;
      line-height: 24px; }
      .result-table tbody tr.main-row td select::-ms-expand {
        display: none; }
      .result-table tbody tr.main-row td select:disabled {
        background: transparent;
        border: 0; }
    .result-table tbody tr.main-row td input {
      border: 1px solid #bdbdbd;
      height: 38px;
      width: 100%;
      float: left;
      padding: 0 10px;
      font-size: 12px;
      color: #636363;
      background: #f7f7f7;
      line-height: 38px;
      font-weight: 300; }

/* pagination-wrapper */
.pagination-wrapper {
  padding-top: 5px;
  padding-bottom: 12px; }
  .pagination-wrapper.bottom {
    padding-top: 20px; }
  .pagination-wrapper .limitsale {
    font-size: 18px;
    font-weight: 300;
    color: #959595;
    float: left;
    line-height: 24px; }
  .pagination-wrapper .limitsale-div {
    float: left; }
    .pagination-wrapper .limitsale-div span {
      color: #636363;
      font-size: 13px;
      line-height: 24px; }
    .pagination-wrapper .limitsale-div input {
      margin: 0 7px 0 12px;
      height: 24px;
      width: 56px;
      padding: 0 6px;
      background: #f7f7f7;
      border: 1px solid #bdbdbd;
      color: #363636;
      font-weight: 700;
      font-size: 13px;
      line-height: 24px; }
    .pagination-wrapper .limitsale-div a {
      display: inline-block;
      line-height: 24px;
      background: #3e71c6;
      font-weight: 700;
      font-size: 11px;
      text-align: center;
      height: 24px;
      width: 57px;
      border-radius: 5px;
      color: #ffffff;
      margin: 0; }
      .pagination-wrapper .limitsale-div a:hover {
        opacity: .8; }
  .pagination-wrapper .pagination-items {
    float: right;
    border-left: 1px solid #e1e1e1;
    padding-left: 15px;
    height: 24px; }
    .pagination-wrapper .pagination-items li {
      float: left;
      margin-left: 3px; }
      .pagination-wrapper .pagination-items li a {
        color: #ffffff;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background-color: #c4cac8;
        font-size: 10px;
        font-weight: 700;
        display: block;
        line-height: 25px;
        text-align: center;
        cursor: pointer; }
        .pagination-wrapper .pagination-items li a.next-icon {
          background-position: -150px -165px; }
        .pagination-wrapper .pagination-items li a.prev-icon {
          background-position: -150px -140px; }
      .pagination-wrapper .pagination-items li.active a {
        background: #6d8c3b; 
        font-size: 10px;
        cursor: text;
      }
  .pagination-wrapper .expand-collapsed {
    float: right;
    border-left: 1px solid #e1e1e1;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px; }
    .pagination-wrapper .expand-collapsed a {
      color: #3e70c5;
      font-size: 13px;
      line-height: 24px; }
      .pagination-wrapper .expand-collapsed a:hover {
        text-decoration: underline; }
    .pagination-wrapper .expand-collapsed span {
      color: #3e70c5;
      font-size: 13px;
      line-height: 24px;
      padding: 0 7px; }
  .pagination-wrapper .text {
    float: right;
    line-height: 24px;
    color: #636363;
    font-size: 13px; }
  .pagination-wrapper .perpage {
    float: left;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #e1e1e1; }
    .pagination-wrapper .perpage span {
      float: left;
      line-height: 24px;
      color: #636363;
      font-size: 13px; }
    .pagination-wrapper .perpage select {
      float: left;
      -webkit-appearance: none;
      -moz-appearance: none;
      border-radius: 0;
      margin: 0 10px 0 12px;
      height: 24px;
      width: 57px;
      padding: 0 6px;
      background: #f7f7f7 url(../i/page-select.png) top right no-repeat;
      border: 1px solid #bdbdbd;
      color: #363636;
      font-weight: 700;
      font-size: 13px;
      line-height: 24px; }
      .pagination-wrapper .perpage select::-ms-expand {
        display: none; }
  .pagination-wrapper .go-to {
    float: right;
    line-height: 24px;
    background: #3e71c6;
    font-weight: 700;
    font-size: 11px;
    text-align: center;
    height: 24px;
    width: 78px;
    border-radius: 5px;
    color: #ffffff;
    margin: 0 15px; }
    .pagination-wrapper .go-to:hover {
      opacity: .8; }
  .pagination-wrapper .page-select {
    float: right; }
    .pagination-wrapper .page-select input {
      margin: 0 10px 0 12px;
      height: 24px;
      width: 36px;
      padding: 0 6px;
      background: #f7f7f7;
      border: 1px solid #bdbdbd;
      color: #363636;
      font-weight: 700;
      font-size: 13px;
      line-height: 24px; }
  .pagination-wrapper .count {
    line-height: 24px;
    color: #636363;
    font-size: 13px;
    float: left; }

/* sub grid */
.odd .sub-grid {
  background: #fafafa; }

.sub-grid {
  padding: 30px 10px;
  background: #ffffff;
  -webkit-box-shadow: inset 0px 3px 4px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 3px 4px -2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 3px 4px -2px rgba(0, 0, 0, 0.4); }
  .sub-grid .result-sub-table {
    width: 100%; }
    .sub-grid .result-sub-table tr th {
      background: #a4c076;
      font-size: 11px; }
      .sub-grid .result-sub-table tr th label {
        text-shadow: 0 1px 1px #8ca364; }
    .sub-grid .result-sub-table tr.odd td {
      background: #eff9f7; }
    .sub-grid .result-sub-table tr td {
      padding: 15px 0 15px 20px;
      background: #f8fdfb;
      font-size: 12px;
      color: #707070;
      font-weight: 300; }
      .sub-grid .result-sub-table tr td a {
        color: #3e70c5; }

/* overlay */
.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 800;
  background: rgba(17, 17, 17, 0.8);
  position: fixed;
  display: none; }
  .overlay.show {
    display: block; }

/* modal-box */
.modal-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.75);
  z-index: 900; }
  .modal-box.show {
    display: block; }
  .modal-box.warning-modal {
    width: 605px;
    height: 275px;
    margin-left: -303px;
    margin-top: -138px; }
    .modal-box.warning-modal .body {
      height: 169px;
      text-align: center;
      padding-top: 45px; }
      .modal-box.warning-modal .body p {
        font-size: 18px;
        color: #363636; }
      .modal-box.warning-modal .body h3 {
        margin: 0 0 20px;
        font-size: 18px;
        font-weight: 700;
        color: #363636; }
        .modal-box.warning-modal .body h3 i {
          position: relative;
          top: 7px;
          width: 30px;
          height: 28px;
          margin-right: 15px;
          background-position: -100px -115px;
          display: inline-block; }
  .modal-box.status-modal {
    width: 610px;
    height: 355px;
    margin-left: -305px;
    margin-top: -177px; }
    .modal-box.status-modal .body {
      height: 250px;
      text-align: center;
      padding: 45px 68px; }
      .modal-box.status-modal .body table {
        width: 100%; }
        .modal-box.status-modal .body table thead, .modal-box.status-modal .body table tbody, .modal-box.status-modal .body table tfoot {
          display: block; }
        .modal-box.status-modal .body table tr th {
          background: #6d8c3b;
          height: 38px;
          line-height: 38px;
          padding-left: 26px;
          text-align: left;
          font-size: 11px;
          color: #ffffff;
          text-transform: uppercase; }
          .modal-box.status-modal .body table tr th:nth-child(1) {
            width: 126px; }
          .modal-box.status-modal .body table tr th:nth-child(2) {
            width: 245px; }
          .modal-box.status-modal .body table tr th:nth-child(3) {
            width: 104px; }
        .modal-box.status-modal .body table tr:nth-child(odd) td {
          background: #fafafa; }
        .modal-box.status-modal .body table tr td {
          line-height: 30px;
          vertical-align: middle;
          padding: 5px 0;
          color: #707070;
          font-size: 12px; }
          .modal-box.status-modal .body table tr td:nth-child(1) {
            width: 126px; }
          .modal-box.status-modal .body table tr td:nth-child(2) {
            width: 245px; }
          .modal-box.status-modal .body table tr td:nth-child(3) {
            width: 104px; }
          .modal-box.status-modal .body table tr td.text-left {
            padding-left: 26px; }
          .modal-box.status-modal .body table tr td input[type="text"] {
            float: left;
            margin: 0;
            height: 30px;
            width: 100%;
            padding: 0 6px;
            background: #f7f7f7;
            border: 1px solid #bdbdbd;
            color: #636363;
            font-weight: 300;
            font-size: 12px;
            line-height: 28px; }
          .modal-box.status-modal .body table tr td .rdo-box {
            float: left;
            margin-left: 50px; }
            .modal-box.status-modal .body table tr td .rdo-box input[type=checkbox]:not(old),
            .modal-box.status-modal .body table tr td .rdo-box input[type=radio]:not(old) {
              display: none; }
            .modal-box.status-modal .body table tr td .rdo-box input[type=checkbox]:not(old) + label,
            .modal-box.status-modal .body table tr td .rdo-box input[type=radio]:not(old) + label {
              display: inline-block;
              font-weight: 300;
              font-size: 14px;
              line-height: 28px;
              color: #636363; }
            .modal-box.status-modal .body table tr td .rdo-box input[type=checkbox]:not(old) + label > span,
            .modal-box.status-modal .body table tr td .rdo-box input[type=radio]:not(old) + label > span {
              float: left;
              width: 25px;
              height: 25px;
              background-position: -100px -165px; }
            .modal-box.status-modal .body table tr td .rdo-box input[type=checkbox]:not(old):checked + label > span,
            .modal-box.status-modal .body table tr td .rdo-box input[type=radio]:not(old):checked + label > span {
              background-position: -125px -165px; }
          .modal-box.status-modal .body table tr td p {
            float: left; }
          .modal-box.status-modal .body table tr td a {
            float: left;
            margin-left: 15px;
            margin-top: 2px; }
            .modal-box.status-modal .body table tr td a.icon {
              width: 25px;
              height: 25px;
              display: inline-block; }
              .modal-box.status-modal .body table tr td a.icon.edit-icon {
                background-position: -25px -65px; }
                .modal-box.status-modal .body table tr td a.icon.edit-icon:hover {
                  background-position: -75px -115px; }
              .modal-box.status-modal .body table tr td a.icon.remove-icon {
                background-position: 0px -165px; }
                .modal-box.status-modal .body table tr td a.icon.remove-icon:hover {
                  background-position: -25px -165px; }
              .modal-box.status-modal .body table tr td a.icon.save-icon {
                background-position: -100px -141px; }
                .modal-box.status-modal .body table tr td a.icon.save-icon:hover {
                  background-position: -125px -141px; }
        .modal-box.status-modal .body table tbody {
          max-height: 80px;
          overflow-y: auto;
          overflow-x: hidden; }
        .modal-box.status-modal .body table tfoot tr td:nth-child(1) {
          background: #fafafa;
          width: 474px;
          text-align: center; }
          .modal-box.status-modal .body table tfoot tr td:nth-child(1) a {
            line-height: 40px;
            color: #c4cac8;
            font-size: 12px;
            float: none;
            text-transform: uppercase; }
            .modal-box.status-modal .body table tfoot tr td:nth-child(1) a i {
              position: relative;
              top: 6px;
              width: 25px;
              height: 25px;
              display: inline-block;
              background-position: -50px -165px; }
            .modal-box.status-modal .body table tfoot tr td:nth-child(1) a:hover {
              color: #6e8b40; }
              .modal-box.status-modal .body table tfoot tr td:nth-child(1) a:hover i {
                background-position: -75px -165px; }
  .modal-box .header {
    background: #eff9f7;
    height: 43px; }
    .modal-box .header h1 {
      line-height: 43px;
      font-size: 16px;
      color: #111111;
      padding-left: 30px; }
    .modal-box .header .close-icon {
      width: 16px;
      height: 16px;
      background-position: -136px -20px;
      float: right;
      margin: 10px 14px 0 0; }
      .modal-box .header .close-icon:hover {
        opacity: .6; }
  .modal-box .footer {
    background: #eff9f7;
    height: 63px;
    text-align: center; }
    .modal-box .footer .button {
      margin: 15px 4px;
      padding: 0 22px;
      height: 34px;
      border-radius: 17px;
      line-height: 34px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
      text-align: center;
      font-size: 14px;
      display: inline-block;
      color: #ffffff; }
      .modal-box .footer .button.blue {
        background: #3e6fc5;
        background: -moz-linear-gradient(top, #3e6fc5 0%, #4378d4 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #3e6fc5), color-stop(100%, #4378d4));
        background: -webkit-linear-gradient(top, #3e6fc5 0%, #4378d4 100%);
        background: -o-linear-gradient(top, #3e6fc5 0%, #4378d4 100%);
        background: -ms-linear-gradient(top, #3e6fc5 0%, #4378d4 100%);
        background: linear-gradient(to bottom, #3e6fc5 0%, #4378d4 100%); }
      .modal-box .footer .button.gray {
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
        background: #d7d7d7;
        background: -moz-linear-gradient(top, #d7d7d7 0%, #c2c2c2 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #d7d7d7), color-stop(100%, #c2c2c2));
        background: -webkit-linear-gradient(top, #d7d7d7 0%, #c2c2c2 100%);
        background: -o-linear-gradient(top, #d7d7d7 0%, #c2c2c2 100%);
        background: -ms-linear-gradient(top, #d7d7d7 0%, #c2c2c2 100%);
        background: linear-gradient(to bottom, #d7d7d7 0%, #c2c2c2 100%); }
      .modal-box .footer .button:hover {
        opacity: .8; }
 .loading-modal {
	position: fixed;
    top: 0;
    left: 0;
	width:100%;
	height:100%;
	z-index: 999999;
	background: url("./images/loading.gif") center no-repeat;
	background-color:rgba(0,0,0,0.5);
}
.break-word {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.ui-datepicker .ui-datepicker-calendar td.yellow a {
    font-weight: bold;
    background-color: #b6c59d;
}
.pagination-wrapper .expand-collapsed span.expand-all-text, .pagination-wrapper .expand-collapsed span.collapse-all-text {
    color: #707070;
    max-width: 60px;
    padding-left: 0px;
    padding-right: 0px;
}

tr.no-data td{
    text-align: center;
    font-size: 20px;
    color: red;
    padding-top: 10px;
    padding-bottom: 10px;
}

.business-date-tag {
    font-size: 18px;
    font-weight: bold;
    margin-left: 35px;
    margin-top: 50px;
}
/*# sourceMappingURL=screen.css.map */
